@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;900&display=swap');


/* General Styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #ce9797;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,245,245,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;   
}

.container {
    max-width: 1440px;
}



/* Header */
.logo {
    width: 30%;
    margin: 2em;
}

/* Hero */
.hero img {
    width: 100%;
}

/* Main Content */
.main {
    padding: 2.5em;
}

.main__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.8rem;
    letter-spacing: 0.7rem;
    margin-bottom: .35em;
}

span {
    font-weight: 900;
    color: #413a3a;
}

.main__text {
    font-size: .85rem;
    line-height: 1.5rem;
    text-align: center;
}


/* Form Styles */
form {
    display: flex;
    justify-content: center;
}

input[type="email"] {
    border: 1px solid hsl(0, 36%, 70%);
    height: 40px;
    width: 250px;
    background: transparent;
    border-radius: 100px;
}

input[type="image"] {
    /* border: 1px solid hsl(0, 36%, 70%); */
    background: linear-gradient(135deg, rgba(248,191,191,1) 0%, rgba(238,140,140,1) 100%);
    padding: 10px 23px;
    border-radius: 100px;
    transition: .2 ease;
    margin-left: -50px;
}
input[type="image"]:hover {
    background: rgba(248,191,191,1);
}


.form {
    text-align: center;
}



.test:hover {
    background: green;
}

/* Placeholder text */
::-webkit-input-placeholder { /* Edge */
    color: hsl(0, 36%, 70%);
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 2em;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: hsl(0, 36%, 70%);
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 2em;
  }
  
  ::placeholder {
    color: hsl(0, 36%, 70%);
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 2em;
  }



/* Footer */

footer {
    margin-top: 5em;
}

.attribution { font-size: 11px; text-align: center; } 
.attribution a { color:hsl(0, 6%, 24%); }